main {
    width: 770px;
    margin: 30px auto 200px;
}

h1 {
    text-align: center;
}

h2 {
    margin-bottom: 0;
    font-size: 2em;
    margin-top: 40px;
}

.contact-info p, .contact-info span {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.5em;
}

.contact-info span {
    text-decoration: underline;
}

.address-map iframe {
    border: 1px solid #000000 !important;
}

.contact-form {
    margin-top: 10px;
}

.contact-form label {
    display: block;
    font-size: 1.3em;
    margin-top: 10px;
}

.contact-form input[type="text"] {
    width: 400px;
    height: 30px;
    outline: 0;
    border: 2px solid #000000;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 1.2em;
}

.contact-form input[type="text"]:focus {
    /* outline: 2px solid #00CC66; */
    border: 2px solid #00CC66;
}

.contact-form input[type="text"]::placeholder {
    color: #000000;
    opacity: 0.7;
}

.contact-form textarea {
    width: 400px;
    height: 200px;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 5px;
    resize: none;
}

.contact-form input[type="submit"] {
    width: 170px;
    height: 40px;
    display: block;
    background-color: #00CC66;
    font-size: 1.5em;
    margin-top: 30px;
    border: 2px solid #000000;
    border-radius: 5px;
    font-family: croissantOne, sans-serif;
}

.contact-form input[type="submit"]:hover {
    background-color: #009926;
    cursor: pointer;
}
