@font-face {
    font-family: croissantOne;
    src: url(../fonts/croissant-one.regular.otf);
}

@font-face {
    font-family: grislyBeast;
    src: url(../fonts/grisly-beast.regular.otf);
}

body {
    margin: 0;
    font-family: croissantOne, sans-serif;
    overflow-x: hidden;
    margin-top: 70px;
}