
body {
    background-color: #FFECB3;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
}

header img {
    height: 70px;
    width: 70px;
    margin: 0 150px;
}

.work-hours p {
    margin: 10px 0;
}

.work-adress p {
    width: 210px;
    line-height: 25px;
}

nav {
    height: 60px;
    width: 100%;
    margin: 0;
    background: #804000;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    text-decoration: none;
    font-size: 25px;
    padding: 0 15px;
    height: 60px;
    line-height: 60px;
}

nav a:hover {
    background: #ff8000;
}

nav a:nth-child(2) {
    margin: 0 120px;
}

main img {
    width: 100%;
    height: 350px;
}

main .main-img {
    width: 100%;
    height: 450px;
    background-image: url(main1.jpg);
    background-size: cover;
    background-position: center;
}

main h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 65px;
    margin-top: -200px;
    margin-left: 10%;
}

main a {
    background: #804000;
    width: 240px;
    height: 50px;
    text-decoration: none;
    font-size: 27px;
    color: #ffffff;
    padding: 10px 20px;
    margin-left: 12%;
}

main a:hover {
    background-color: #ff8000;
}

.service {
    width: 100%;
    /* margin: 120px 0; */
    padding: 0 20px;
}

.service h2 {
    padding-top: 25px;
    text-align: center;
    font-size: 35px;
}

.service-container {
    display: flex;
    justify-content: space-around;
}

.service-container h4 {
    text-align: left;
    font-size: 25px;
}

.service-container div {
    width: 33%;
}

.service {
    display: flex;
    margin-bottom: 25px;
    flex-direction: column;
}

.service img {
    width: 250px;
    height: 150px;
    margin-right: 20px;
}

.service span {
    font-size: 20px;
    line-height: 60px;
}