@font-face {
    font-family: Acme;
    src: url(../fonts/Acme-Regular.ttf);
}

body {
    background-color: #FFECB3;
    margin: var(--main-element-margin);
    font-family: Acme;
    scroll-behavior: smooth;
}

header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
}

header img {
    height: 70px;
    width: 70px;
    margin: 0 150px;
}

.work-hours p {
    margin: 10px 0;
}

.work-adress p {
    width: 210px;
    line-height: 25px;
}

nav {
    height: 60px;
    width: 100%;
    margin: var(--main-element-margin);
    background: #804000;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    font-family: Acme;
    color: #ffffff;
    text-decoration: none;
    font-size: 25px;
    padding: var(--main-element-padding);
    height: 60px;
    line-height: 60px;
}

nav a:hover {
    background: #ff8000;
}

nav a:nth-child(2) {
    margin: 0 120px;
}

main img {
    width: 100%;
    height: 350px;
}

main .main-img {
    width: 100%;
    height: 450px;
    background-image: url(../img/main1.jpg);
    background-size: cover;
    background-position: center;
}

main h1 {
    color: white;
    font-family: Acme;
    font-size: 65px;
    margin-top: -200px;
    margin-left: 10%;
}

main a {
    background: #804000;
    width: 240px;
    height: 50px;
    text-decoration: none;
    font-size: 27px;
    color: #ffffff;
    padding: 10px 20px;
    margin-left: 12%;
}

main a:hover {
    background-color: #ff8000;
}

.service {
    width: 100%;
    /* margin: 120px 0; */
    padding: var(--main-element-padding);
}

.service h2 {
    padding-top: 25px;
    text-align: center;
    font-size: 35px;
}

.service-container {
    display: flex;
    justify-content: space-around;
}

.service-container h4 {
    text-align: left;
    font-size: 25px;
}

.service-container div {
    width: 33%;
}

.service {
    display: flex;
    margin-bottom: 25px;
    flex-direction: column;
}

.service img {
    width: 250px;
    height: 150px;
    margin-right: 20px;
}

.service span {
    font-size: 20px;
    line-height: 60px;
}

.go-back {
    position: fixed;
    bottom: 124px;
    right: 24px;
    background-color: #804000;
    color: #ffffff;
    padding: 16px;
    display: block;
}

.footer {
    /* position: sticky;
    bottom: 0;
    z-index: -1; */
    background-color: #804000;
    color: #ffffff;
    padding: 50px;
    text-align: center;
    font-size: 20px;
}