@import "../abstracts/variables";


.fork-app {
    background-image: url("../img/fork-app/fork_background_mobile.jpg");
    
    width: 100%;
    height: 718px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media (min-width: $bp-md) {
        background-image: url("../img/fork-app/fork_background_tablet.jpg");
    }

    @media (min-width: $bp-lg) {
        background-image: url("../img/fork-app/fork_background_desktop.jpg");
    }
}

.fork-app__title {
    color: #FFF;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px; 
}