@font-face {
    font-family: croissantOne;
    src: url(croissant-one.regular.otf);
}

@font-face {
    font-family: grispyBeast;
    src: url(grisly-beast.regular.otf);
}

body {
    margin: 0;
    font-family: croissantOne, sans-serif;
}

header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
}

header img {
    height: 70px;
    width: 70px;
    margin: 0 150px;
}

.work-hours p {
    margin: 10px 0;
}

.work-adress p {
    width: 210px;
    line-height: 25px;
}

nav {
    height: 60px;
    width: 100%;
    margin: 0;
    background: #00CC66;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 25px;
    padding: 0 15px;
    height: 60px;
    line-height: 60px;
}

nav a:hover {
    background: #009926;
}

nav a:nth-child(2) {
    margin: 0 120px;
}

/* main img {
    width: 100%;
    height: 350px;
} */

main .main-img {
    width: 100%;
    height: 350px;
    background-image: url(img/main.jpg);
    background-size: cover;
    background-position: center;
    /* opacity: 0.6; */
}

main h1 {
    font-family: grispyBeast;
    font-size: 40px;
    margin-top: -200px;
    margin-left: 10%;
}

main a {
    background: #000000;
    width: 240px;
    height: 50px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    padding: 10px 20px;
    margin-left: 12%;
}

main a:hover {
    background-color: #00CC66;
}

.menu {
    width: 100%;
    margin: 120px 0;
    padding: 0 20px;
}

.menu h2 {
    text-align: center;
    font-size: 35px;
}

.menu-container {
    display: flex;
    justify-content: space-around;
}

.menu-container h4 {
    text-align: center;
    font-size: 25px;
}

.menu-container div {
    width: 33%;
}

.meal {
    display: flex;
    margin-bottom: 25px;
}

.meal img {
    width: 60px;
    height: 60px;
    /* border-radius: 50%; */
    margin-right: 20px;
}

.meal span {
    font-size: 20px;
    line-height: 60px;
}