@import "variables";

.gallery-name h1 {
    margin-top: 150px;
    text-align: center;
}

.gallery  {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
    margin: 0 auto;

    & img {
        width: 33%;
        margin: 0 5px 5px 0;
    
        &:hover {
            position: relative;
            z-index: 10;
            animation-name: img-animation;
            transition: all 1s linear;
            @include time-animation (3s);
        }
    }
}

@keyframes img-animation {
                0% {
                    filter: grayscale(80%);
                    opacity: 0.7;
                }
                50% {
                    transform: scale(2);
                }
                100% {
                    filter: unset;
                    transform: scale(1.5);
                    opacity: 1;
                }
}  

@media screen and (max-width: 649px) {
    .gallery {
        display: block;
        width: 200px;
        height: unset;

        img {
            width: 100%;
        }
    }
}

@media screen and (max-width: 649px) {
    .gallery img {
      filter: none;
      opacity: 1;
    }
}