$main-bc-color: #ffe6a7;
$main-button-color: #ede7e3;
$main-heder-color: #6f1d1b;
$main-footer-color: #6f1d1b;
$main-hover-color: #ff7d00;
$main-border-color: #000000;
$main-border-radius: 5px;
$main-element-padding: 0 15px;
$main-element-margin: 0;

@mixin time-animation ($time) {
    animation-duration: $time;
}
