// PRELOADER ANIMATION
@keyframes preloaderUpDown {
  from {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  to {
    transform: translateY(0px);
  }
}
