$main-color: #50B2EA;;
$secondary-color: #F2F2F2;

html {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
}

.header {
  box-sizing: border-box;
  background-image: url(../img/home.png);
  width: 100%;
  height: 840px;
  background-size: contain;
  background-repeat: no-repeat;

  &-top {
    display: flex;
    padding-top: 136px ;
    height: 81px;
    justify-content: center;

    @media screen and (max-width: 1600px){
        & {
            padding-top: 30px;
        }
    }

    .img-logo {
        width: 80px;
        height: 87px;
    }
      
    .name-logo {
        color: #FFF;
        text-transform: uppercase;
        height: 81px;
        width: 324px;

        h3 {
            font-weight: bold;
            font-size: 46px;
            letter-spacing: 0.2px;
            line-height: 104.5%;
            margin-bottom: 0;
        }

        p {
            font-weight: bold;
            text-align: center;
            font-size: 32px;
            letter-spacing: 20px;
            line-height: 104.5%;
        }
    }
  }

  .header-center {
    padding-top: 140px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        color: #FFF;
        text-align: center;
        font-size: 50px;
        font-weight: 800;
        line-height: 118.5%;
        margin-bottom: 15px;
    }
    p {
        width: 520px;
        color: #FFF;
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        line-height: 22px;
    }

    @media screen and (max-width: 1450px){
        & {
            h1, p {
                display: none;
            }
        }
    }

    .icon {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 362px;
        height: 100px;
        gap: 100px;

        &-group {
        text-decoration: none;
        width: 100px;
        height: 100px;
        color: #FFF;
      }

        &-name {
        display: block;
        width: 110px;
      }

      
    } 
    @media screen and (max-width: 1060px) {
        & {
            .icon {
                display: none;
            }
        }
    }

      .button {
        padding-top: 80px;

        .button-help {
        border-radius: 10px;
        width: 192px;
        height: 62px;
        background-color: #50B2EA;
        border: 1px solid #F2F2F2;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;

        &:hover {
          background-color: #19435A;
          box-shadow: 0 4px 8px 0 rgba(245, 239, 239, 0.2), 0 6px 20px 0 #F2F2F2;
        }      
      }
    }
      
      
  }

  @media screen and (max-width: 830px) {
        & {
            .icon {
                display: none;
            }
            .button {
                position: absolute;
                top: 100px; 
            }
        }
    }
}
main {
    width: 1903px;

    .section-1 { 
        margin: 0;
        box-sizing: border-box;
        background-color: #50B2EA;
        height: 763px;

        .grey-color {
            height: 100%;
            width: 912px;
            background-color: #F2F2F2;
        }

        .content {
            box-sizing: border-box;
            width: 1199px;
            height: 509px;
            border-radius: 40px;
            border: 4px solid #F2F2F2;
            background: #50B2EA;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            position: absolute;
            left: 275px;
            top: 940px;

            .right-content {
                width: 640px;
                height: 509px;
                margin-top: 90px;
                margin-left: 45px;

                & h2 {
                    color: #FFF;
                    font-size: 58px;
                    font-style: normal;
                    font-weight: bold;
                }

                & p {
                    width: 520px;
                    height: 110px;
                    margin-top: 20px;
                    margin-bottom: 30px;
                    color: #19435A;
                    font-family: Poppins;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 22px;
                }  
            }

            .icon-v {
                display: flex;
                flex-direction: row;
                color: #FFF;
                text-decoration: none;
                padding-bottom: 20px;
                padding-right: 14px;
            }
              
            .icon-content {
                padding-left: 14px;
            }
        }

        .button {
            top: 1495px;
            left: 857px;
            position: absolute;
    
            .button-help-section {
                border-radius: 10px;
                width: 192px;
                height: 62px;
                background-color: #50B2EA;
                border: 1px solid #F2F2F2;
                color: white;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 20px;
        
                &:hover {
                background-color: #19435A;
                box-shadow: 0 4px 8px 0 rgba(245, 239, 239, 0.2), 0 6px 20px 0 #F2F2F2;
                }      
            }
        }
    }
    .services {
        width: 1903px;
        height: 674px;
        background-color: #50B2EA;

        h2 {
            color: #FFF;
            text-align: center;
            font-size: 58px;
            font-weight: bold;
            padding-top: 40px;
        }
          
        &-icon {
            width: 300px;
            height: 300px;
        }

        &-top {
            height: 420px;
            background-image: url(../img/cover-decor.png);
            filter:opacity(30%);
        }
    
        &-top-content {
            display: flex;
            flex-direction: column;
            position: absolute;
            left: 300px;
            top: 1580px;

            &-icon-group {
                height: 180px;
                color: #FFF;
                width: 1600px;
                gap: 83px;
            }
        }

        &-bottom {
            height: 260px;
            background-color: #F2F2F2;
            z-index: 10;
            padding-top: 28px;

            h3 {
                color: #50B2EA;
                font-size: 18px;
                font-weight: 700;
                line-height: 22px;
            }

            p {
                color: #19435A;
                text-align: center;
                font-size: 14px;
                font-weight: 400;
                line-height: 22px;
                padding-top: 14px;
                height: 66px;
                width: 180px;
                margin: 0 auto;
            }
        }
    }
    .button {
        top: 2185px;
        left: 857px;
        position: absolute;

        .button-help-services {
            border-radius: 10px;
            width: 192px;
            height: 62px;
            background-color: #50B2EA;
            border: 1px solid #F2F2F2;
            color: white;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 20px;
        
            &:hover {
                background-color: #19435A;
                box-shadow: 0 4px 8px 0 rgba(245, 239, 239, 0.2), 0 6px 20px 0 #F2F2F2;
            }      
        }
    }

    .testymonials {
        width: 1903px;
        height: 718px;
        background-color: #50B2EA;
    
        h2 {
            color: #FFF;
            font-size: 58px;
            text-align: center;
            font-style: normal;
            font-weight: bold;
            padding-top: 30px;
            padding-bottom: 30px;
        }

        &-text-content {
          display: flex;
          flex-direction: column;
      
          .stars {
              display: flex;
              padding-left: 14px;
              padding-bottom: 30px;
          }

          h3 {
            padding-top: 25px;
            padding-left: 14px;
            color: #50B2EA;
            font-size: 18px;
            font-weight: 700;
            line-height: 22px;
          }

          p {
            color: #19435A;
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
            width: 423px;
            height: 110px;
            padding-top: 8px;
            padding-left: 14px;
          }
        }

        .container {
            width: 1200px;
            .vision-list-item {
                margin: 0;
                display: flex;
                flex-direction: row;
                border-radius: 48px;
                width: 577px;
                height: 233px;
                background-color: #FFF;
                .foto-woman {
                  padding-top: 30px;
                  padding-left: 20px;
                  width: 80px;
                  height: 80px;
                }
            }
        }
    }
        .contact {
            margin: 0;
            padding-top: 30px;
            width: 1903px;
            height: 520px;
            background-color: #FFF;

            &-form input[type="text"]:hover {
                background-color: #19435A;
            }
              
            &-form input[type="email"]:hover {
                background-color: #50B2EA;
                opacity: 0.5;
            }
    
            h2 {
                color: #50B2EA;
                text-align: center;
                font-size: 58px;
                font-weight: bold;
                line-height: normal;
            }
    
            &-form {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: baseline;
    
                .form-size {
                    margin-top: 14px;
                    padding: 20px;
                    width: 370px;
                    height: 64px;
                    border-radius: 40px;
                    opacity: 0.5;
                    background-color: #50B2EA;
                }
    
                .form-size-mail {
                    margin-top: 14px;
                    padding: 20px;
                    width: 184px;
                    height: 64px;
                    border-radius: 40px;
                    background-color: #50B2EA;
                }
            }
        }
    @media screen and (max-width: 576px) {
        height: 300px;
    }
        
    @media screen and (min-width: 577px) and (max-width: 992px) {
        height: 450px;
    }
}


.footer {
    width: 100%;
    height: 80px;
    background: #19435A;
}