@import "../abstracts/variables";

.button{
    border: 1px solid $dark-primary-color;
    border-radius: 50px;
    padding: 15px 61px 15px 30px;
    background-color: $dark-primary-color;
    color: $white-color;
    font-size: 18px;
    position: relative;

    &::after{
        content: '';
        display:block;
        width: 24px;
        height: 33px;
        position: absolute;
        top: 50%;
        right: 27px;
        transform: translateY(-50%);
        background-image: url("../img/button_icon/button_icon.svg");
        background-repeat: no-repeat;
        background-position: center;
    }
}
.button-secondary{
    @extend .button;

    border: 1px solid $white-color;
    padding-right: 30px;
    background-color: $white-color;
    color: $dark-primary-color;
    margin-top: 50px;

    &::after{
        content: unset;
    }
}