@import 'variables';

main {
  background: $main-color;

  nav {
    width: 400px;

    &.selected {
      font-size: 30px;
    }

    input {
      border: none;

      &[disabled] {
        border: 1px solid black;
      }
    }

    ul {
      padding: $padding;

      li {
        background: green;

        a {
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}