@font-face {
    font-family: myFirstFont;
    src: url(chlorinar.regular.ttf);
}

body {
    /* background-color: aqua; */
}

#main-h1 {
    color: aquamarine;
}

.main-h1 {
    color: violet;
}

h1 {
    color: red !important;
}

h1 {
    color: darkorange !important;
}

#first-p {
    color: blueviolet;
}

.class1.class2.class3.class4.class5.class6.class7.class8.class9.class10.class11 {
    color: brown;
}

span {
    color: red;
}

div {
    background-color: chocolate;
}

.red-div {
    background-color: red;
}

.red-div:hover {
    background-color: crimson;
}

h3 {
    letter-spacing: 10px;
    text-align: right;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: lighter;
    /* font-family: 'Permanent Marker', cursive; */
    font-family: myFirstFont;
}

h3:hover {
    background-color: #FF8001;
}

.test-p {
    line-height: 50px;
    text-align: right;
}

ul {
    list-style-position: inside;
}

a {
    color: brown;
}

a:visited {
    color: coral;
}

a:hover {
    color: aqua;
}

a:active {
    background-color: aqua;
}