@font-face {
    font-family: Acme;
    src: url(../fonts/Acme-Regular.ttf);
}

body {
    background-color: #FFECB3;
    margin: 0;
    font-family: Acme;
    scroll-behavior: smooth;
    overflow-x: hidden;
    margin-top: 70px;
}

.go-back {
    position: fixed;
    bottom: 124px;
    right: 24px;
    background-color: #804000;
    color: #ffffff;
    padding: 16px;
    display: block;
}

.footer {
    /* position: sticky;
    bottom: 0;
    z-index: -1; */
    background-color: #804000;
    color: #ffffff;
    padding: 50px;
    text-align: center;
    font-size: 20px;
}