main {
    position: relative;
}

main img {
    width: 100%;
    height: 350px;
}

main .main-img {
    width: 100%;
    height: 450px;
    background-image: url(../img/main1.jpg);
    background-size: cover;
    background-position: center;
}

main h1 {
    position: absolute;
    bottom: 100px;
    left: 10%;
    color: white;
    font-family: Acme;
    font-size: 65px;
}

main a {
    position: absolute;
    bottom: 50px;
    left: 10%;
    text-align: center;
    line-height: 50px;
    background: #804000;
    width: 240px;
    height: 50px;
    text-decoration: none;
    font-size: 27px;
    color: #ffffff;
    padding: 10px 20px;
}

main a:hover {
    background-color: #ff8000;
}

.service {
    width: 100%;
    /* margin: 120px 0; */
    padding: 0 20px;
}

.service h2 {
    padding-top: 5px;
    text-align: center;
    font-size: 35px;
}

.service-container {
    display: flex;
    justify-content: space-around;
}

.service-container h4 {
    text-align: left;
    font-size: 25px;
}

.service-container div {
    width: 33%;
}

.service {
    display: flex;
    margin-bottom: 25px;
    flex-direction: column;
}

.service img {
    object-fit: cover;
    width: 250px;
    height: 150px;
    margin-right: 20px;
}

.service span {
    font-size: 20px;
    line-height: 60px;
}