.img-cart {
  max-width: 50px;
}

.cart {
  position: relative;
  margin-top: 30px;
}

.counter {
  background-color: red;
  display: block;
  color: white;
  width: 24px;
  border-radius: 20px;
  position: absolute;
  left: 35px;
  top: 0px;
  text-align: center;
}