.item {
  text-align: center;
  padding: 10px;
  display: inline-block;
  width: 25%;
  min-height: 150px;
  border: 1px solid hsl(240, 1%, 58%);
  border-radius: 5px;
}

.item img {
  width: 140px;
  height: 100px;
  box-shadow: 0px 0px 80px 50px rgba(0,0,0,0.1);
}

.button-add .change-color {
  background-color: burlywood;
}