header {
    background-color: var(--main-bc-color);
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    top: 0;
}

.header-nav {
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 10;
}

header img {
    height: 70px;
    width: 70px;
    margin: 0 150px;
}

.work-hours p {
    margin: 10px 0;
}

.work-adress p {
    width: 210px;
    line-height: 25px;
}

nav {
    height: 60px;
    width: 100%;
    margin: var(--main-element-margin);
    background: var(--main-heder-color);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 10px #000;
}

nav a {
    font-family: Acme;
    color: var(--main-button-color);
    text-decoration: none;
    font-size: 25px;
    padding: var(--main-element-padding);
    height: 60px;
    line-height: 60px;
}

nav a:hover {
    background: var(--main-hover-color);
}

nav a:nth-child(2) {
    margin: 0 120px;
}

nav button {
    border: 1px solid #fff;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: var(--main-heder-color);
    position: absolute;
    left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    display: none;
}

nav button span {
    width: 25px;
    height: 1px;
    display: inline-block;
    background: #fff;
}

@media screen and (max-width: 799px) {
    .work-hours, 
    .work-adress,
    .nav__header {
      display: none;
    }
    nav button {
        display: flex;
    }
    nav {
        box-shadow: none;
    }
}
