main {
    position: relative;
}

main img {
    width: 100%;
    height: 350px;
}

main .main-img {
    width: 100%;
    height: 450px;
    background-image: url(../img/main1.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.5;
}

main .main-img:hover {
    animation-name: main-img;
    animation-duration: 2s;
}

@keyframes main-img {
    0% {
        opacity: 60%;
    }
    100% {
        opacity: 100%;
    }
}

main h1 {
    position: absolute;
    bottom: 100px;
    left: 10%;
    color: var(--main-button-color);
    font-family: Acme;
    font-size: 65px;
    text-shadow: 10px 10px 10px #000;
}

main a {
    position: absolute;
    bottom: 50px;
    left: 10%;
    text-align: center;
    line-height: 50px;
    background: var(--main-heder-color);
    width: 240px;
    height: 50px;
    text-decoration: none;
    font-size: 27px;
    color: var(--main-button-color);
    padding: 10px 20px;
}

main a:hover {
    background-color: var(--main-hover-color);
}

.service {
    width: 100%;
    /* margin: 120px 0; */
    padding: var(--main-element-padding);
}

.service h2 {
    padding-top: 5px;
    text-align: center;
    font-size: 35px;
}

.service-container {
    display: flex;
    justify-content: space-around;
}

.service-container h4 {
    text-align: left;
    font-size: 25px;
}

.service-container div {
    width: 33%;
}

.service {
    display: flex;
    margin-bottom: 25px;
    flex-direction: column;
}

.service img {
    object-fit: cover;
    width: 250px;
    height: 150px;
    margin-right: 20px;
    box-shadow: 5px 5px 10px var(--main-heder-color);
}

.service img:hover {
    animation-name: service-img;
    animation-duration: 2s;
}

@keyframes service-img {
    0% {
        opacity: 50%;
    }
    100% {
        transform: scale(1.2);
        transition: all 1s linear;
        box-shadow: 10px 10px 10px;
    }
}

.service span {
    font-size: 20px;
    line-height: 60px;
}

@media screen and (max-width: 799px) {
    main h1 {
      display: none;
    }
    main a {
      width: 150px;
      height: 30px;
      font-size: 20px;
      line-height: 32px;
    }
    main .main-img {
        height: 250px;
    }
}

@media screen and (max-width: 499px) {
    main .main-img {
        height: 200px;
    }
}

@media screen and (max-width: 649px) {
    .service-container {
        display: block;
    }
    .service-container div {
        width: 100%;
    }
}

@media screen and (max-width: 499px) {
    .service img:hover {
        transform: none;
        transition: none;
    }
}